{% extends "base.html" %}

{% block content %}

<div class = "jumbotron">
	<table class="table">
	  <thead>
		<tr>
		  <th scope="col">Id</th>
		  <th scope="col">First</th>
		  <th scope="col">Last</th>
		  <th scope="col">Company</th>
			<th scope="col">Resume URL</th>
		  <th scope="col">Thumbs UP</th>
		  <th scope="col">Thumpbs Down</th>
		  <th scope="col">Score</th>
			<th scope="col">Delete Request</th>

		</tr>
	  </thead>
	  <tbody>
	  	{% for ref in refers %}
		<tr>
	  		<th scope="row">{{ref.id}}</th>
			<td>{{ref.name}}</td>
			<td>{{ref.lastname}}</td>
			<td>{{ref.company}}</td>
			<td><a href="{{ref.resume}}" class = "btn btn-primary">Resume</a></td>
			<td><a href="/looksGood/{{ref.id}}" class = "btn btn-success">Looks Good</a></td>
			<td><a href="/needsImprovement/{{ref.id}}" class = "btn btn-danger">Needs Improvement</a></td>
			<td>{{ref.score}}</td>
			<td><a href="/deleteRequest/{{ref.id}}" class = "btn btn-danger">Delete</a></td>
		</tr>
	  	{% endfor %}

	  </tbody>
	</table>

	</div>

{% endblock %}




